JavaAndXML_Book_Src/Chapter15/Listing1503/Salesperson.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Salesperson.dtd -->

<!ELEMENT Salesperson (Total, Sale*)>
<!ATTLIST Salesperson fullName CDATA #REQUIRED>

<!ELEMENT Total (#PCDATA)>

<!ELEMENT Sale (ItemName, UnitCost, Quantity)>

<!ELEMENT ItemName (#PCDATA)>
<!ELEMENT UnitCost (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>
